<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <bean id="person" class="org.springframework.test.ioc.bean.Person">
    <property name="name" value="derek"/>
    <property name="age" value="12"/>
    <property name="car" ref="car"/>
  </bean>

  <bean id="car" class="org.springframework.test.ioc.bean.Car">
    <property name="brand" value="porsche"/>
  </bean>

<!--  将两个自定义的processor注册到beanDefinition-->
  <bean class="org.springframework.test.ioc.common.CustomBeanFactoryPostProcessor"/>

  <bean class="org.springframework.test.ioc.common.CustomerBeanPostProcessor"/>
</beans>